<div>
<% @projects.each do |p| %>
            <p>
              Name
            </p>
             <%= p.name %> <br>
            <p>
              Director
            </p>
            <%= p.director %> <br>
            <p>
              EP
            </p>
            <%= p.ep %> <br>
            <p>
              Equipment
            </p>
            <%= p.equipment %> <br>
            <p>
              Dates
            </p>
            <%= p.dates %> <br>
            <p>
              Status
            </p>
            <%= p.status %>
        <% end %>
   </div>