<!DOCTYPE html>

<html>
  <head>
    <title>NUTV - Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="/mobile.css" />
    <meta name="description" content="NUTV Website">
    <meta name="keywords" content="NUTV, Northeastern, University, Television">
    <meta name="author" content="Eric Gift">
  </head>
  <body>
    <div class="header">
      <a id="logo" href="/home"><img src="/assets/nutv.jpg"/></a>
      <a href="https://twitter.com/NUTV"><img id="twitter" src="/assets/twitter.png"/></a>
      <a href="https://www.facebook.com/northeasterntv#"><img id="fb" src="/assets/facebook.jpg"/></a>
      <a href="/news">News</a>
      <a href="/sports">Sports</a>
      <a href="/entertainment">Entertainment</a>
    </div>
    <div class="detailscontent">
            <div class="detholder">
        <div class="projtopnav">
          <h3>
            <%= @project.name %>
          </h3>
          <div class="editbuttons">
            <%= link_to image_tag("edit.png"), edit_project_path(@project.id) %>
            <%= link_to image_tag("delete.png"), @project, method: :delete, data: {confirm: "Are you sure you want to delete this project?" } %>
          </div>   
        <div id="back">
          <a href="/entertainment/projects"><img id="edit" src="/assets/back.png"/></a>
        </div>
        </div>
        <div class="projdetails">
            <p>
              Director: <%= @project.director %>
            </p>
            <p>
              EP: <%= @project.ep %>
            </p> 
            <p>
              Status: <%= @project.status %>
            </p>
            <p>
              Notes: <%= simple_format @project.notes %>
            </p>
          <p> <br> <br>
          Last Updated: <%= l @project.updated_at.in_time_zone("Eastern Time (US & Canada)"), format: :daytime %>
          </p>
          </div>
            <a class="signup" href="#"><div class="signupbutton">
            Sign Up!
            </div></a>

        <div class="eventdetails">
          <div class="eventsheader">
          <h2>
            Events:
          </h2>
          </div>
         <div class="addevent">
           <a id="addevent" href="#"><img id="plus" src="/assets/plus.png"/></a>
         </div>
             <% @events.each do |e| %>
          <div class="indevent">
              <% if e.kind %>
                <%= e.kind %> <br>
              <% else %>
                Misc. Event <br>
              <% end %>
              <%= l e.date, format: :day if e.date %> @ <%= l e.starttime, format: :hour if e.starttime %> <br>
            <%= link_to "Details", [@project, e] %>
              </div>
            <% end %>
      </div>
    </div>      
      </div>
  <div id="eventform" class="hidden">
    <a id="closeevent" href="#"><img id="cross" src="/assets/close.png"/></a>
          <%= form_for [@project, @event] do |e| %>
    
            Type: <%= e.select :kind, [['Writing Meeting','Writing Meeting'],['Shoot','Shoot'],['Editing Meeting','Editing Meeting']], {:id => "eventkind" } %> <br>

            Date: <%= e.date_field :date %> <br>
            
            Start Time: <%= e.time_field :starttime %> <br>
             
            End Time: <%= e.time_field :endtime %> <br> <br>
          
          <%= e.submit "Create" %>
          <% end %>
          </div>
    <div class="footer">
      <h3>
       
      </h3>
    </div>
  </body>
</html>

